.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.4);

}

.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.msg {
  font-size: 1.5rem;
  color: var(--text);
  padding: 1rem;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 20vw;
  padding: 0 2rem;
  height: fit-content;
}

.btn {
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: background-color 0.5s;
}
.btn:hover {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.2);
}

.confirm {
  composes: btn;
  background-color: var(--confirm);
}
.confirm:hover {
  background-color: var(--confirm-hover);
}
.cancel {
  composes: btn;
  background-color: var(--cancel);
}
.cancel:hover {
  background-color: var(--cancel-hover);
}
