.dropDown{
    position: absolute;
    right: 0rem;
    top: 10vh;
    width: 15rem;
    min-height:15rem;
    max-height: 20rem;
    background-color: white ;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0,0, 0.75);
    z-index: 99;
    overflow-y: auto;

}



.notifCard{
    width: auto;
    min-height: auto;
    border-bottom: 1px solid black;
}

.user{
    composes:dropDown;
    width:10rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1 rem;
}

.logOut{
    background-color: var(--primary);
    color: white;
    text-align: center;
}
