.chart {
  height: 100%;
  width: 100%;
}

.dndnode_input {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #0041d0 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_default {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_ouput {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #ff0072 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_custom {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important ;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #ffd900 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_send {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important ;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #00ff00 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.navigation {
  /* display: flex; */
  width: 377px;
  position: fixed;
  top: 6%;
  left: 80%;
  z-index: 100;
}

.saveBtn {
  border: 0;
  color: var(--text);
  background-color: var(--secondary);
  margin-right: 7px;
}

.saveBtn:hover {
  background-color: var(--secondary-hover);
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
}
.whiteColorBox {
  background-color: white;
}

.table {
  width: 100%;
  padding: 5px;
}

.tbody {
  font-size: 1rem;
}

.yellowCard {
  background-color: #e4e81e;
}

.cardIcon {
  color:var(--text);
  font-size: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.th {
  width: 30%;
  font-size: 0.1rem;
}

.td {
  width: 70%;
}

.tr {
  background: rgba(255, 255, 255, 0.6);
}


.tooltip {
  position: fixed;
  left: 70%;
  top: 2%;
  padding-left: 10px;
  display: flex;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  right: -65%;
  font-size: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}