

.chart {
  height: 100%;
  width:  100%;;
}

.dndnode_input {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #0041d0 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_default {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_ouput {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #ff0072 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_custom {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important ;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #ffd900 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.dndnode_send {
  align-items: center !important;
  border: 1px solid #1a192b !important;
  border-radius: 2px !important;
  cursor: grab !important;
  display: flex !important;
  height: 50px !important ;
  justify-content: center !important;
  padding: 4px !important;
  border-color: #00ff00 !important;
  background-color: white !important;
  color: #1a192b !important;
  font-size: 20px !important;
}

.navigation {
  /* display: flex; */
  width: 377px;
  position: fixed;
  top: 6%;
  left: 80%;
  z-index: 100;
}


