.enableFocus:hover {
  z-index: 1;
}

.bar {
  width: 100%;
  line-height: 2.5rem;
  min-height: 2.5rem;
  max-height: fit-content;
  background-color: var(--bg-tertiary);
  color: var(--text);
  cursor: pointer;
  transition: background-color 1s;
  justify-content: space-around;
}

.bar:hover {
  background-color: var(--bg-tertiary);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.2);
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.small > * {
  padding: 0.25rem;
  margin: 0;
  line-height: 1.25rem;
  min-height: 1.25rem;
  max-height: fit-content;
  color: var(--text-2);
  text-align: center;
}
.small > div > * {
  color: var(--text);
  font-size: small;
  font-size: 0.85rem;
}

.actionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actionContainer > button {
  height: auto;
  padding: 5px 10px;
  margin: auto;
  color: var(--text);
  border: 0;
  border-radius: 5px;
  background-color: var(--secondary);
}

button {
  cursor: pointer;
}
