.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  margin: 0.75rem 0rem;
  padding: 0 3rem;
}

.bar {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0rem 3rem 0rem 0rem;
  padding-right: 1rem;
  transition: background-color 0.5s;
  cursor: pointer;
}

.content {
  composes: content from "./workflowBar.module.css";
  width: 100%;
  min-height: 3rem;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.bottomRadius{
  border-radius:  10px 10px 10px 10px;
}
.bottomRadius > div:first-of-type {
  border-bottom-left-radius: 5px;
}
.bottomRadius > div:last-of-type {
  border-bottom-right-radius: 5px;
}

.content > div {
  background-color: var(--secondary);
  vertical-align: middle;
  color: var(--text);
}
.content > div:first-of-type {
  border-top-left-radius: 5px;
}
.content > div:last-of-type {
  border-top-right-radius: 5px;
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.small > * {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  height: fit-content;
  color: var(--text-2);
}

.small > div > span {
  color: var(--text);
  font-size: small;
  font-size: 0.85rem;
}
.dot {
  position: absolute;
  top: 0rem;
  left: -3rem;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  align-self: center;
  color: var(--primary);
  border-radius: 100%;
  background: radial-gradient();
  transition: background-color 1s;
}

.completed {
  composes: dot;
  color: var(--completed);
}

.inProgress {
  composes: dot;
  color: var(--inProgress);
}

.runningStatus {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 0;
  color: var(--text);
  background-color: var(--bg-secondary);
}

.showHistoriesHint {
  composes: noselect;
  position: absolute;
  top: -0.75rem;
  right: 0.75rem;
  width: auto;
  height: auto;
  padding: 0.5rem;
  border-radius: 10px 10px 0 10px;
  color: var(--text);
  background-color: var(--bg-secondary);
}

.dropdownBtn {
  composes: editBtn from "./workflowBar.module.css";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  right: -2rem;
}

.progressContainer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-secondary);
  padding: 0.25rem;
  flex-wrap: wrap;
}

.historiesContainer {
  display: flex;
  flex-direction: column;
  /* padding:0rem 3.4rem 0 2.8rem; */
}

.historiesContainer > li:last-of-type > div {
  border-radius: 0 0 10px 10px;
}
