section {

  margin: 0 ;
  /* height:"30%" !important;
  width:"50%" !important; */
  
}

.pageHeader {
  margin: 1rem;
  background-color: var(--primary);
  width: max-content;
  height: 10%;
  line-height: 1.5rem;
  vertical-align: middle;
  padding: 0.75rem 1.25rem;
  /* margin: 1.5rem 0 2rem 2rem; */
  border-radius: 2rem;
  font-size: var(--medium);
  color: var(--text);
  /* box-sizing: content-box; */

}
