.box {
  position: relative;
  display: flex;
  width: auto;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  margin: 0.25rem;
  margin-right: 1rem;
}

.current {
  border-left: 0.25rem solid var(--secondary);
  color: var(--text);
  background-color: var(--secondary);
}

.current::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem;
  border-color: transparent transparent transparent var(--secondary);
  position: absolute;
}
.notCurrent {
  border-left: 0.25rem solid var(--bg-tertiary);
  color: var(--text);
  background-color: var(--bg-tertiary);
}

.notCurrent::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem;
  border-color: transparent transparent transparent var(--bg-tertiary);
  position: absolute;
}
