.menu {

  position: absolute;
  right: 3.5rem;
  top: 0;
  width: max-content;
  height: max-content;
  z-index: 3;
  border-radius: 20px;
  background-color: var(--bg-secondary-t8);
  transition: background-color 0.5s;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu:hover {
  background-color: var(--bg-secondary);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.1);
}
.option {
  width: -webkit-fill-available;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--text);
}

.option:hover {
  background-color: var(--bg-primary);
}
