.titleBar {
  display: flex;
  position: relative;
  width: auto;
  margin: 0.75rem 4rem;
  padding: 0 0.5rem 0 3rem;
}

.titleContent {
  justify-content: space-between;
  min-height: 3rem;
  width: -webkit-fill-available;
}
.titleContent > div {
  line-height: 3rem;
  color: var(--text);
  vertical-align: middle;
}
.titleContent > div:not(:nth-of-type(1)) {
  text-align: center;
}

.bar {
  display: flex;
  position: relative;
  width: auto;
  margin: 0.75rem 4rem;
  padding: 0 0.5rem 0 3rem;
  border-radius: 3rem;
  transition: background-color 0.5s;
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.bar:hover {
  background-color: var(--bg-secondary-hover);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.1);
}

.content {
  justify-content: space-between;
  min-height: 3rem;
  max-height: fit-content;
  width: -webkit-fill-available;
  background-color: var(--primary);
  transition: background-color 0.3s;
}
.content:hover {
  background-color: var(--primary-hover);
}

.content > div {
  line-height: 3rem;
  min-height: max-content;
  color: var(--text);
  background-color: var(--secondary);
  vertical-align: middle;
}
.content > div:not(:nth-of-type(1)) {
  text-align: center;
}
.content > div:hover {
  background-color: var(--secondary-hover);
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.small > * {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  height: fit-content;
  color: var(--text-2);
}
.small > div > span {
  color: var(--text);
  font-size: small;
  font-size: 0.85rem;
}

.editBtn {
  margin: auto 0 auto 1rem;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  height: auto;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s;
  color: var(--text);
}
.editBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
