.yellow_container {
  /* border: 10px; */
  background: #e4e81e;
  border-radius: 15px;
}

.table {
  /* text-align: center; */
  /* padding: 0px 5px 5px 5px; */
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.yellow_tbody {
  background: rgba(255, 255, 255, 0.5);
}

.yellow_tr {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 !important;
}

.yellow_head_tr {
  padding: 0 !important;
  background: rgba(255, 255, 255, 0.5);
}

.yellow_targetHandle {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.yellow_sourceHandle {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(0, 0, 0);
}

.th {
  width: 30%;
  font-size: medium;
  text-align: start;
}

.td {
  width: 70%;
  padding: 0;
}

.delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0;
  margin: 0.25rem;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(53, 53, 53, 0.9);
  /* transform: scale(1.5); */
  transition: color 0.5s;
}

.delete_button:hover {
  color: rgba(0, 0, 0);
}

.textarea {
  /* margin-top: 5px; */
  margin-bottom: -5px;
  width: 100%;
  /* height: 150%; */
  resize: none;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.text_input {
  border: 0 !important;
  width: 100% !important;
  height: 30px !important;
  padding: 0px 0px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.react-flow__node input[type="text" i],
.react-flow__node textarea,
.react-flow__node input[type="datetime-local"] {
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0.3);
}

.react-flow__node input[type="text" i]:focus,
.react-flow__node textarea:focus,
.react-flow__node input[type="datetime-local"]:focus {
  border: 0;
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

.react-flow__node input[type="color"] {
  margin: 0.25rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.multiSelect_container {
  padding: 5px 0;
}

.emailInput {
  position: absolute;
  left: 100%;
  bottom: 0%;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.nodeHeader {
  background-color: rgba(0, 0, 0, 0);
}

.nodeHeader > input[type="color"] {
  border: 0;
  margin: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: background-color 0.5s;
}

.nodeHeader > input[type="color"]:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
