.componentCard{
    display:flex;
    width: 300px;
    height:55px;
    background-color:antiquewhite;
    flex-direction: column;
    justify-content: space-evenly;
}
/* .buttonContainer{
    /* display: inline-block;
    justify-content: space-evenly;
    flex-direction: row;
} */

.nodeName{
    /* display: flex; */
    width: 300px;
    /* flex-direction: row; */
    /* justify-content:flex-start; */
}

.actionName{
    padding-left:1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
