.yellow_container {
  /* border: 10px; */
  background:#E4E81E;
  
}

.table {
  text-align: "center";
  padding: 2px;
}

.yellow_tbody {
    background:rgba(255, 255, 255, 0.5);
}

.yellow_tr {
    background: rgba(255, 255, 255, 0.3);
}

.yellow_head_tr {
    background:rgba(255, 255, 255, 0.5);
  }

.th {
  width: 30%;
}

.td {
  width: 70%;
}

.delete_button {
    padding: 0px 2px;
}