.scrollDiv {
  height: 70vh;
  overflow-y: auto;
}

.moreBtn {
  composes: icon from "../App.css";
  margin: auto;
  width: auto;
  /* text-align:; */
  font-size: 3rem;
  padding-bottom: 1rem;
}
.titleCol {
  padding: 0;
  margin: 0 4rem;
  padding: 0 2rem 0 0;
  line-height: 3rem;
  justify-content: space-between;
  color: var(--text);
}
.titleCol > div {
  padding: 0 3rem;
  justify-content: space-between;
}
.titleCol > div > div:not(:nth-of-type(1)) {
  text-align: center;
}


.msg{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  color: var(--text);
}

.msgBtn{
margin: 1rem;
width: 2rem;
height: 2rem;
color: var(--text);
border-radius: 100%;
transition: color 0.2s;
transition: background-color 0.5s;

}
.msgBtn:hover{
  color: var(--bg-primary);
  background-color: var(--secondary);
}
