.builderContainer{
  display: flex;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: none;
  padding: 0;
}
.flowContainer{
  display: flex;
  height:-webkit-fill-available;
  width:-webkit-fill-available;

}

.flowComponent-container{
 height:-webkit-fill-available;
 width:-webkit-fill-available;
 right: 0;
 margin: 0 auto;
}

.msg{
  composes: msg from 'AllWorkflows.module.css';
}