.titleCol {
  margin: 0 8rem 0 4rem;
  padding: 0;
  line-height: 3rem;
  justify-content: space-between;
  color: var(--text);
}
.titleCol > div {
  padding: 0 3rem;
  justify-content: space-between;
}

.titleCol > div > div:not(:nth-of-type(1)) {
  text-align: center;
}

.titleCol span{
  font-size: 0.9rem;
  color:var(--text-2);
}

.instancesContainer {
  margin: 0.25rem 5.27rem 0 4rem;
  padding: 0 2rem 0 0;
  height: 70vh;
  overflow-y: auto;
}

.msg {
  composes: msg from "./AllWorkflows.module.css";
}

.msgBtn{
  composes: msgBtn from "./AllWorkflows.module.css";
}

.msgBtn:hover{
  color: var(--bg-primary);
  background-color: var(--secondary);
}

