.formContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 0;
}

.header {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--primary);
  color: var(--text);
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
}

.formInputContainer {
  justify-content: center;
  padding: 2rem 3rem;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.formInputContainer > * {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.formInputContainer input {
  border: 0;
  outline: 2px solid var(--bg-secondary-t7);
  border-radius: 2px;
}
.formInputContainer select {
  border: 0;
  outline: 2px solid var(--bg-secondary-t7);
  border-radius: 2px;
}

.formInputContainer input:focus {
    outline: 2px solid var(--primary-hover);
}

.submitButton {
  height: 2rem;
  line-height: 2rem;
  /* margin-top: 2rem; */
  border: 0;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  background-color: var(--secondary);
  color: var(--text);
  transition: background-color 0.5s;
}

.submitButton:hover {
    background-color: var(--primary);
}

/* 
.formGroup {
  width: 20rem;
  height: 3rem;
}
.formInput {
  padding-top: 1rem;
  background: white;
  width: 15rem;
  height: 3rem;
  box-sizing: border-box;
}
input[type="text" i] {
  width: 20rem;
  border: 1px solid black;
}

input[type="password" i] {
  width: 20rem;
}
input[type="email" i] {
  width: 20rem;
}
input[type="checkbox" i] {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.inputLabel {
  margin-top: 1rem;
}
.inputCheckbox {
    width: 5px;
    height: 5px;
  border-radius: 5px;
} */
