.profileCardContainer {
  position: absolute;
  top: 5%;
  right: 5%;
  padding:0;
  /* width:35%; */
  height:90%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  height: 50%;
  max-height: 70%;
  max-width: 90%;
  padding: 1.5rem;
  
  background-color: var(--secondary);
  color: white;
  border-radius: 30px;
}

.userInfo {
  /* padding: 1rem;
  margin-left: 1rem; */
  justify-content: space-between;
  width: -webkit-fill-available;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: var();
}

.userLabel {
  padding: 1rem;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.buttonContainer {
  display: flex;
}

.buttonContainer > button {
  align-items: center;
  display: flex;
  justify-content: center;
  /* margin-top:2rem;
  padding:1rem; */
  width: 5rem;
  height: 2rem;
  border: 0;
  margin: 0.5rem 2rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--text);
  transition: box-shadow 0.5s;
  transition: background-color 0.5s;
}

.buttonContainer > button:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.1);
}

.companyCard {
  display: flex;
  width: -webkit-fill-available;
  height: 5rem;
  left: 12rem;
  top: 32rem;
  /* background-color: aqua; */
  border-radius: 30px;
}

.companyTitle {
  margin-top: 1rem;
  background: rgba(163, 90, 255, 0.8);
  border-radius: 25px;
  position: absolute;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.colleaguesBar {
  display: flex;
  /* width: auto; */
  height: 50%;
  /* justify-self: end; */
  max-width: 80vw;
  
  overflow-x: auto;

}

.colleaguesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin: 0 2rem;
}
.avatar {
  /* width:auto; */
  /* height: 80%; */
  background-color: var(--bg-secondary);
  border-radius: 100%;
}
.colleagueName {
  /* margin: 1rem 0.25rem; */
  color: var(--text);
  margin: 0 1rem;
  min-width: 5rem;
}
