.formContainer {
  composes: formContainer from "./Login.module.css";
}

.header {
  composes: header from "./Login.module.css";
}

.formInputContainer {
  composes: formInputContainer from "./Login.module.css";
}

.submitButton {
  composes: submitButton from "./Login.module.css";
}



/* 
.formGroup {
  width: 20rem;
  height: 3rem;
}
.formInput {
  padding-top: 1rem;
  background: white;
  width: 15rem;
  height: 3rem;
  box-sizing: border-box;
}
input[type="text" i] {
  width: 20rem;
  border: 1px solid black;
}

input[type="password" i] {
  width: 20rem;
}
input[type="email" i] {
  width: 20rem;
}
input[type="checkbox" i] {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.inputLabel {
  margin-top: 1rem;
} */

/* .inputCheckbox {
  width: 5px;
  height: 5px;
  border-radius: 5px;
} */
