:root {
  --primary: rgba(151, 84, 237, 1);
  --secondary: rgba(174, 111, 255, 1);
  --primary-hover: rgba(151, 84, 237, 0.5);
  --secondary-hover: rgba(174, 111, 255, 0.5);
  --bg-primary: rgb(102, 102, 102);
  --bg-primary-hover: rgba(102, 102, 102, 0.1);
  --bg-secondary: rgb(128, 128, 128);
  --bg-secondary-t9: rgba(128, 128, 128, 0.8);
  --bg-secondary-t8: rgba(128, 128, 128, 0.8);
  --bg-secondary-t7: rgba(128, 128, 128, 0.8);
  --bg-secondary-hover: rgba(128, 128, 128, 0.1);
  --bg-tertiary: rgb(117, 117, 120);
  --bg-tertiary-hover: rgba(117, 117, 120, 0.1);
  --bg-tertiary-transparent: rgba(117, 117, 120, 0.9);
  --text: rgba(255, 255, 255, 1);
  --text-2: rgba(205, 205, 205, 1);
  --blur: rgba(250, 250, 250, 1);
  --completed: rgba(200, 200, 200, 0.6);
  --inProgress: rgba(30, 232, 123, 0.6);
  --confirm: rgba(83, 237, 154, 0.8);
  --cancel: rgba(255, 75, 75, 0.8);
  --confirm-hover: rgba(83, 237, 154, 1);
  --cancel-hover: rgba(255, 75, 75, 1);
  /* --failed: rgba(255, 75, 75, 1);
  --pending: rgba(232, 211, 30, 1); */
  --large: 1.5rem;
  --medium: 1rem;
  --small: 0.75rem;
}

iframe {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.App {
  background-color: var(--bg-primary);
}
.main-container {
  display: flex;
  width: -webkit-fill-available;
  height: 100%;
  margin: 0;
  background-color: black;
  /* overflow: hidden; */
  text-align: center;
}
.sidebar {
  height: 100%;
}
body{
  height: 100%;
}
html{
  height: 100%;
}
#root{
  height: 100%;

}
.sidebar.row {
  flex-direction: column;
  width: 10%;
  min-width: max-content;
  height: -webkit-fill-available;
  /* padding: 2rem 0; */
  background-color: var(--bg-secondary);
  margin: 0;
  justify-content: center;
}
.sidebar > .col {
  flex: 0 0 auto;
  cursor: pointer;
  height: 15%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.sidebar > .col > * {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  /* margin: 2rem; */
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

.sidebar * > div {
  margin-left: 1rem;
  color: var(--text);
  display: flex;
  width: 50%;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.sidebar > .col:hover {
  background-color: var(--secondary);
  color: var(--text);
  /* outline: 1px solid var(--blur); */
}

.icon {
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  color: var(--text);
}

.sidebar > hr {
  height: 2px;
  border-width: 0.5px;
  border: 0;
  align-self: flex-end;
  padding: 0;
  /* margin-top: auto; */
  background-color: rgba(53, 53, 53, 0.5);
}
.sidebar img {
  border-radius: 100%;
}

.page-container {
  width: 100%;
  background-color: var(--bg-primary);
  height: -webkit-fill-available;
}

.finished {
  background: var(--finish);
  /* background: linear-gradient(125deg, #FFFFFF 85%, #1EE87B 85%, #1EE87B 100%); */
}

.failed {
  background-color: var(--failed);
  color: white;
  /* background: linear-gradient(125deg, #FFFFFF 85%, #1EE87B 85%, #1EE87B 100%); */
}

.pending {
  background-color: var(--pending);
  /* background: linear-gradient(125deg, #FFFFFF 85%, #1EE87B 85%, #1EE87B 100%); */
}

.search-button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.25rem;
  margin: 0 1rem;
  transition: background-color 1s;
}
.search-button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.react-flow__handle {
  border: 0 !important;
  transform: scale(2) !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  transition: background-color 0.5s;
}

.react-flow__handle:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
}
