.container {
  background: linear-gradient(
    202deg,
    var(--primary) 0%,
    var(--primary) 53%,
    var(--bg-primary) 53%,
    var(--bg-primary) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.buttons {
  width: 15rem;
  height: 7rem;
  line-height: 2.75rem;
  text-align: center;
  font-size: 3rem;
  color: var(--text);
  border: 0;
  border-radius: 10px;
  transition:background-color 0.5s;
  transition:box-shadow 0.5s;
}

.buttons:hover{
    box-shadow: 0 0 10px 3px rgba(255,255,255,0.5);
}

.logIn {
  composes: buttons;
  background-color: var(--secondary);
}

.logIn:hover {
  background-color: var(--primary);
}

.signUp {
  composes: buttons;
  background-color: var(--bg-secondary);
}

.signUp:hover {
  background-color: var(--bg-primary);
}

.formContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(53,53,53,0.8);
}

/* .title{
    font-size:5rem;
    color:white;
    display: flex;
    width:100%;
    height:50%;
    justify-content: center;
    align-items: center;
} */

/* .button-container{
    display: flex;
    justify-content: space-around;
}

.button-container .Login-button {
    background-color: #A35AFF;
    width: 240px;
    height: 126px;
    border:  1px solid black !important;
    font-size:3rem;
    -webkit-box-shadow: 0 20px 6px -6px black!important;
    -moz-box-shadow: 0 20px 6px -6px black!important;
         box-shadow: 0 20px 6px -6px black !important;
}
.Login-button:focus {
    -webkit-box-shadow: 0 20px 6px -6px black!important;
    -moz-box-shadow: 0 20px 6px -6px black!important;
         box-shadow: 0 20px 6px -6px black !important;
        }

.button-container .SignUp-button{
    background-color:#535353;
    width: 240px;
    height: 126px;
    border:  1px solid black !important;
    font-size:3rem;
    -webkit-box-shadow: 0 20px 6px -6px black!important;
    -moz-box-shadow: 0 20px 6px -6px black!important;
         box-shadow: 0 20px 6px -6px black !important;
}

.SignUp-button:focus { 
    -webkit-box-shadow: 0 20px 6px -6px black!important;
    -moz-box-shadow: 0 20px 6px -6px black!important;
         box-shadow: 0 20px 6px -6px black !important;} */
